.innerBox {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.innerBox>.test {
    max-width: 1200px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}
/* header ************************************* */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%
}
.logo img{
    width: 100%;
}
.leftGnb {
    width: 50%;
    display: flex;
    position: absolute;
    left: 0;
    top: 15%;
    text-align: center;
}

.leftGnb>li {
    width: 20%;
    background-color: #cfcdce;
    border-radius: 50px;
    padding: 1% 0;
}

.leftGnb>.active {
    background-color: #0a2b4a;
}

.leftGnb>.active>a {
    color: white;
}
.leftWrap>.ham{
    float: left;
    margin-top: 2%;
    display: none;
}
.leftWrap>.close img{
    max-width: 25px;
    width:100%;
    display: none;
}

.rightGnb {
    width: 50%;
    display: flex;
    position: absolute;
    right: -25%;
    top: 15%;
}

.rightGnb>li {
    width: 10%;
}

.rightGnb>li>a {
    font-weight: 600;
}

.rightGnb>li:hover {
    text-decoration: underline;
}
.rightWrap>.icon{
    float: right;
    margin-top: 2%;
    display: none;
}
.rightWrap>.icon img{
    width: 25px;
    
}
/* nav************************************************ */
#nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
    box-sizing: border-box;
    text-align: center;
}

#nav>li {
    width: 100%;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

#nav>li:hover {
    background-color: #d9e4f0;
}

#nav>li:hover .sub {
    height: 200px;
}
/* sub******************************************** */
.sub {
    width: 100%;
    position: absolute;
    height: 0;
    overflow: hidden;
    background-color: #e8eff7;
    text-align: center;
    transition: 0.5s;
    line-height: 2;
}

.sub>li {
    font-size: 16px;
    font-weight: 400;

}

.sub>li:hover a {
    text-decoration: underline;
}
/* banner********************************************* */
.banner li {
    position: absolute;
    display: none;
}

.banner li:first-child {
    display: block;
}

.banner img {
    width: 100%;
    height: 1000px;
}

.banner .textBox {
    max-width: 100%;
    position: absolute;
    top: 40%;
    left: 20%;
}

.textBox>.bannerTitle {
    font-size: 20px;
    font-weight: 500;
}

.textBox>.middle {
    font-size: 30px;
    font-weight: 300;
    margin-top: 10%;
}

.textBox>.strong {
    font-size: 36px;
    font-weight: 500;
}

.textBox>.text {
    font-size: 14px;
}

.textBox>.more {
    max-width: 200px;
    height: 45px;
    border-radius: 50px;
    text-align: center;
    line-height: 2.5;
    box-sizing: border-box;
    font-size: 18px;
    margin-top: 15%;
}

.textBox>.yellow {
    background-color: #e2d790;
}

.textBox>.yellow:hover {
    background-color: #fff4b0;
}

.textBox>.gray {
    background-color: #dfdbdd;
}

.textBox>.gray:hover {
    background-color: #f8f8f8;
}

.textBox>.blue {
    background-color: #7190df;
}

.textBox>.blue:hover {
    background-color: #b8c9f1;
}

.textBox>.green {
    background-color: #76b981;
}

.textBox>.green:hover {
    background-color: #c8e6cd;
}

.pager {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    max-width: 150px;
    width: 100%;
}

.pager>li {
    text-indent: -9999px;
    width:12px;
    height: 12px;
    border: 2px solid #0a2b4a;
    border-radius: 50%;
    margin-left: 5%;
}

.pager>.active {
    background-color: #0a2b4a;
}
/* container********************************************* */
.title {
    text-align: center;
    font-size: 24px;
    color: #0a2b4a;
    font-weight: 600;
    padding-top: 15%;
}
/* new************************************************** */
.newPro {
    display: flex;
    /* overflow: hidden; */
    padding-top: 10%;
    position: relative;
}

.newPro>li {
    max-width: 295px;
    width: 100%;
    /* margin-left: 2.5%; */
}

.newPro>li:first-child {
    margin-left: 0;
}

.imgBox {
    perspective: 500px;
}

.imgBox .item {
    font-size: 35px;
    backface-visibility: hidden;
    transition: 0.8s;
}

.imgBox .item.front {
    position: absolute;
    transform: rotateY(0deg);
}

.imgBox:hover .item.front {
    transform: rotateY(180deg);
}

.imgBox .item.backImg {
    transform: rotateY(-180deg);
}

.imgBox:hover .item.backImg {
    transform: rotateY(0deg);
}

.imgBox img {
    width: 100%;
}

.textWrap>.name {
    font-weight: 300;
    max-width: 200px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.textWrap>p {
    font-weight: 500;
    font-size: 14px;
}

.more {
    text-align: center;
    position: relative;
}

.more>p {
    margin-top: 8%;
}

.more>p>a {
    background-color: #7190df;
    border-radius: 50px;
    color: white;
    padding: 1% 3%;
    box-sizing: border-box;
}

.more>p>a:hover {
    background-color: #a3ccf5;
}
/* best*********************************************** */
.bestWrap>.innerBox {
    max-width: 1400px;
}

.best {
    position: relative;
}
.best>.title{
    padding-top: 16%;
}

.tabs {
    padding-top: 6%;
    display: flex;
    justify-content: center;
}

.tabs>li {
    border: 1px solid #0a2b4a;
    border-radius: 50px;
    padding: 0.5% 2.5%;
    margin-left: 1%;
}

.tabs>.active {
    background-color: #0a2b4a;
}

.tabs>.active>a {
    color: white;
}

.proList {
    position: relative;
    margin-top: 4%;
}
.proList img {
    transition: 1s ease;
    width:100%;
}
    
.proList img:hover {
    border-radius:50%;
    transition: 1s ease;
}

.proList>li {
    position: absolute;
    display: none;
    width: 100%;
}
.proList>li>div{
    overflow: hidden;
}

.proList>li:first-child {
    display: block;
}

.proList>li>div {
    float: left;
    margin-left: 4%;
    width: 20%;
}

/* .proList>li>div:first-child {
    margin-left: 0;
} */

.proList a>p {
    max-width: 200px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 14px;
}

.proList div>p {
    font-weight: 500;
    font-size: 14px;
}

.proList img {
    width: 100%;
}

.bMore {
    margin-top: 28%;
    text-align: center;
    /* margin-left: 20%; */
}

.bMore a {
    background-color: #7190df;
    border-radius: 50px;
    color: white;
    padding: 1% 3%;
    box-sizing: border-box;
}

.bMore a:hover {
    background-color: white;
    color: #7190df;
    border: 1px solid #7190df;
}
/* video****************************************** */
.videoWrap{
    position: relative;
}
.videoWrap>.title{
    padding-top: 15%;
}
.uVideo {
    /* position: relative; */
    margin-top: 6%;
}

.uVideo>li {
    position: absolute;
    left: 11%;
    top:23%;
    display: none;
    padding-right: 10%;
}

.uVideo>li:first-child {
    display: block;
}

.uVideo video {
    max-width: 935px;
    width: 100%;
}
.thumbSwiper{
    overflow: hidden;
}
.thumb {
    /* max-width: 804px; */
    /* width: 100%; */
    display: flex;
    margin-top: 40%;
}
.thumb img:first-child{
    width:100%;
}
.thumb>li {
    position: relative;
    margin-bottom: 8%;
    opacity: 0.5;
    max-width: 202.5px;
    width: 100%;
}
.thumb>li:hover{
    opacity: 1;
    border: 1px solid red;
}
.thumb>li:hover .hover{
    display: block;
}

.thumb .play {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
}

.thumb .hover {
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.thumb>.active {
    z-index: 0;
    opacity: 1;
    border: 1px solid red;
    box-sizing: border-box;
}

.thumb>.active .hover {
    display: block;
}

.thumb::-webkit-scrollbar {
    width: 10px;
}

.thumb::-webkit-scrollbar-thumb {
    background-color: #0a2b4a;
    border-radius: 20px;
}

.thumb::-webkit-scrollbar-track {
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}
/* lo******************************************* */
.imgWrap{
    display: grid;
    grid-template-columns:auto auto auto;
    gap:10px;
    padding-top: 15%;
    padding-left: 7%;
}
.gImg1{
    grid-row: 1/3;
}
.gImg1 img{
    max-width: 500px;
    width:100%;
}
.gImg2 img{
    max-width: 500px;
    width:100%;
}
.gImg3{
    grid-column: 2/2;
}
.gImg3 img{
    max-width: 500px;
    width:100%;
}
.info{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    box-sizing: border-box;
    margin-left: 1%;
}
.client{
    border: 1px solid #0a2b4a;
    padding: 2%;
}
.client p:first-child{
    font-size: 18px;
    margin-bottom: 5%;

}
.client strong{
    font-size: 24px;
}
.question{
    padding: 2%;
    border:1px solid #0a2b4a;
}
.question img,
.inquiry img{
    float: right;
}
.question p:first-child,
.inquiry p:first-child{
    font-size: 18px;
    font-weight: 500;
}
.question p:last-child,
.inquiry p:last-child{
    margin-top: 35%;
}
.inquiry{
    padding: 2%;
    border:1px solid #0a2b4a;
}
.ad{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}
.textLo>span{
    font-size: 20px;
}
.sns{
    display: flex;
}
.sns img{
    width:100%;
}
/* footer************************************************* */
/* .fp-section footer{
    height:250px;
} */
footer{
    padding: 2% 0;
}
.footInfo{
    display: flex;
    justify-content: left;
    width: 100%;
}
.footInfo>li{
    margin-right: 1%;
    /* width:100%; */
}
.footInfo>li>a{
    font-size: 15px;
    font-weight: 500;
}
.footInfo>li>a:hover{
    color:#a3ccf5;
}
.fWrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
address{
    padding-top: 2%;
    line-height: 2;
}
.edu img{
    width:100%;
}
@media screen and (max-width:1397px){
    .best{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:1280px) {
    .leftWrap>.ham,
    .rightWrap>.icon{
        display: block;
        padding: 0 2%;
        box-sizing: border-box;
    }
    nav{
        position: fixed;
        left: -100%;
        background-color: rgba(0,0,0,0.8);
        width:60%;
        height: 100%;
    }
    .leftGnb{
        width:90%;
        position: fixed;
        top:5%;
        left:-100%;
        z-index: 1000;
        margin-left: 12%;
    }
    .leftWrap>.close img{
        display: block;
        position: fixed;
        top:5%;
        left: -100%;
        z-index: 1000;
        padding-left: 2%;
    }
    #nav{
        display: block;
        padding-top: 10%;
        margin-top: 10%;
    }
    #nav>li{
        border-bottom: 1px solid #fff;
        line-height: 3;
    }
    #nav>li:hover{
        background-color: #fff;
    }
    #nav>li:hover a{
        color: black;
    }
    #nav>li>a{
        color:#fff
    }
    .sub{
        transition: none;
        height: auto;
        position: static;
        display: none;
        background-color: #dedede;
    }
    .rightGnb{
        right: -100%;
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        display: block;
        top:7%;
        width:30%;
        text-align: center;
    }
    .rightGnb>li{
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 3;
    }
    .rightGnb>li:last-child{
        border-bottom: none;
    }
    .rightGnb>li>a{
        color:#fff
    }
    /* .banner img{
        height: 800px;
    } */
}
@media  screen and (max-width:1160px){
    .swiper-container{
        height: 75vh;
    }
    .best{
        padding-top: 5%;
    }
}
@media  screen and (max-width:1130px){
    .swiper-container{
        height: 70vh;
    }
}
@media  screen and (max-width:970px){
    .banner li{
        top:50%;
        transform: translateY(-50%);
    }
    .banner img{
        height:auto;
    }
    .pager{
        bottom: 30%;
    }
    .banner .textBox {
        top: 30%;
        left: 20%;
    }
    
    .textBox>.bannerTitle {
        font-size: 1.2em;
    }
    
    .textBox>.middle {
        font-size: 1.2em;
    }
    
    .textBox>.strong {
        font-size: 2em;
    }
    
    .textBox>.text {
        font-size: 1em;
    }
    .textBox>.more {
        max-width: 150px;
        font-size: 1.2em;
    }
}
@media  screen and (max-width:953px){
    .swiper-container{
        height: 60vh;
    }
    .new{
        padding-top: 15%;
    }
    .best{
        padding-top: 12%;
    }
    #nav>li{
        font-size: 1em;
    }
    .sub>li{
        font-size: 1em;
    }
    .videoWrap{
        padding-top: 10%;
    }
    .uVideo>li{
        top:32%;
    }
    .mediaWrap{
        padding-top: 5%;
    }
    .leftGnb{
        top:4%;
    }
}
@media  screen and (max-width:782px){
    footer{
        padding:5% 0;
        text-align: center;
    }
    .footInfo{
        justify-content: center;
    }
    .fWrap{
        justify-content: center;
    }
}
@media  screen and (max-width:767px){
    .pager{
        bottom: 35%;
    }
    .banner .textBox {
        top: 30%;
        left: 20%;
    }
    
    .textBox>.bannerTitle {
        font-size: 1em;
    }
    
    .textBox>.middle {
        font-size: 1em;
    }
    
    .textBox>.strong {
        font-size: 1.6em;
    }
    
    .textBox>.text {
        font-size: 0.8em;
    }
    .textBox>.more {
        max-width: 120px;
        height: 30px;
        font-size: 1em;
    }
    .textLo>span{
        font-size: 1em;
    }
}
@media  screen and (max-width:700px){
    .info{
        display: block;
        margin: 0 30%;
    }
    .client{
        max-width: 200px;
        width: 100%;
    }
    .client p:first-child{
        font-size: 1em;
    }
    .client strong{
        font-size: 1.5em;
    }
    .client p{
        font-size: 0.5em;
    }
    .question{
        max-width: 200px;
        width:100%;
    }
    .inquiry{
        max-width: 200px;
        width:100%;
    }
    .question p:first-child,
    .inquiry p:first-child{
        font-size: 1em;
    }
    .question p,
    .inquiry p{
        font-size: 0.5em;
    }
    .textLo>span{
        font-size: 0.5em;
    }
    .ad{
        flex-wrap: wrap;
    }
}
@media  screen and (max-width:690px){
    .swiper-container{
        height: 50vh;
    }
    .videoWrap{
        padding-top: 20%;
    }
    .uVideo>li{
        top:37%;
    }
}
@media  screen and (max-width:678px){
    .proList>li>div{
        width:35%;
    }
}
@media  screen and (max-width:600px){
    /* .swiper-container{
        height: 50vh;
    } */
    .new{
        padding-top:30%;
    }
    .footInfo>li>a{
        font-size: 1em;
    }
    address{
        font-size: 0.5em;
    }
    .mediaWrap{
        padding-top: 12%;
    }
}
@media  screen and (max-width:578px){
    .proList>li>div{
        width:30%;
    }
    .best{
        padding-top: 20%;
    }
    .videoWrap{
        padding-top: 32%;
    }
    .uVideo>li{
        top:43%;
    }
    .leftGnb{
        top:2%;
    }
    .leftWrap>.close img{
        top:2%;
        max-width: 15px;
    }
    .pager{
        bottom: 40%;
        left: 55%;
    }
    .pager>li{
        width:8px;
        height: 8px;
    }
    .banner .textBox {
        top: 30%;
        left: 15%;
    }
    
    .textBox>.bannerTitle {
        font-size: 0.8em;
    }
    
    .textBox>.middle {
        font-size: 0.8em;
    }
    
    .textBox>.strong {
        font-size: 1.2em;
    }
    
    .textBox>.text {
        font-size: 0.6em;
    }
    .textBox>.more {
        max-width: 100px;
        height: 25px;
        font-size: 0.8em;
    }
}
@media  screen and (max-width:470px){
    .tabs{
        flex-wrap: wrap;
    }
    .proList>li>div{
        width:35%;
    }
    .best{
        padding-top: 30%;
    }
    .mediaWrap{
        padding-top: 20%;
    }
    .textBox>.more {
        max-width: 80px;
        margin-top: 5%;
        font-size: 0.8em;
    }
}
@media  screen and (max-width:424px){
    .proList>li>div{
        width:30%;
    }
    .videoWrap{
        padding-top: 47%;
    }
    .uVideo>li{
        top:48%;
    }
}
@media  screen and (max-width:405px){
    .footInfo>li>a{
        font-size: 0.5em;
    }
}
@media  screen and (max-width:375px) {
    /* .swiper-container{
        height: 40vh;
    } */
    .new{
        padding-top: 23%;
    }
    .videoWrap{
        padding-top: 50%;
    }
    .uVideo>li{
        top:50%;
    }
    .mediaWrap{
        padding-top: 20%;
    }
}
@media  screen and (max-width:360px){
    .best{
        padding-top: 45%;
    }
    .swiper-container{
        height: 40vh;
    }
    .mediaWrap{
        padding-top: 35%;
    }
    .leftGnb{
        top:0.5%;
    }
    .banner .textBox {
        top: 20%;
        left: 5%;
    }
    .pager{
        bottom: 42%;
    }
    .textBox>.bannerTitle {
        font-size: 0.5em;
    }
    
    .textBox>.middle {
        font-size: 0.5em;
    }
    
    .textBox>.strong {
        font-size: 1em;
    }
    
    .textBox>.text {
        font-size: 0.3em;
    }
}
@media  screen and (max-width:330px){
    .swiper-container{
        height: 45vh;
    }
    .new{
        padding-top:40% ;
    }
    .textLo img{
        max-width: 10px;
        width:100%;
    }
    .sns img{
        max-width: 30px;
        width:100%;
    }
}
@media  screen and (max-width:280px){
    .swiper-container{
        height: 30vh;
    }
    .mediaWrap{
        padding-top: 12%;
    }
    .banner .textBox {
        top: 10%;
    }
    .pager{
        bottom: 43%;
    }
}